<a href="https://colab.research.google.com/github/Catisyf/Python-projects-chez-Toucan/blob/main/Backfill_text_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!ls '/content/drive/My Drive/crm_contacts.csv'

'/content/drive/My Drive/crm_contacts.csv'

In [ ]:
import pandas as pd
from scipy import spatial

In [ ]:
pd_contacts = pd.read_csv('/content/drive/My Drive/crm_contacts.csv')
pd_persona = pd.read_csv('/content/drive/My Drive/buyer_persona_definition.csv')

In [ ]:
pd_contacts

                       jobtitle                             email
0                       Builder         joao.gonzalez@braskem.com
1      Singer-French songwriter                    xlbjn@yahoo.es
2         Senior .NET Developer             kamilmrozek@gmail.com
3                Senior Analyst              slamcloud1@gmail.com
4                Finance Intern              osamaalqudah@mail.ru
...                         ...                               ...
25099              gmail (site)           geay.isabelle@gmail.com
25100              gmail (site)      maximin.daudiffret@gmail.com
25101              gmail (site)              cindygros1@gmail.com
25102              gmail (site)             ar.decision@gmail.com
25103              gmail (site)  chloe.fermine@fastuppartners.com

[25104 rows x 2 columns]

In [ ]:
pd_persona

              buyer_persona                                    job_title
0    Data Leader - CIO, CDO                                          CIO
1    Data Leader - CIO, CDO                                          CDO
2    Data Leader - CIO, CDO                    Chief Information Officer
3    Data Leader - CIO, CDO                                          CIO
4    Data Leader - CIO, CDO                                   Head of IT
..                      ...                                          ...
126            Practitioner                     Chef de Projet Senior BI
127            Practitioner  Chef de Projet Senior Business Intelligence
128            Practitioner               Chef de Projet Senior Insights
129            Practitioner              Chef de Projet Senior Analytics
130            Practitioner                     Chef de Projet Senior SI

[131 rows x 2 columns]

In [ ]:
# Data preparation: 1. remove null values 2. remove stop words (of, de, d')

In [ ]:
pip install -U sentence-transformers

In [ ]:
#Pre-trained sentence transformer model
from sentence_transformers import SentenceTransformer
model = SentenceTransformer('distiluse-base-multilingual-cased-v1')

In [82]:
doc1 = ['BI Analyst', 'Data Analyst', 'head product', 'director marketing']
doc2 = ['BI engineer', 'Business Analyst', 'marketing manager', 'chef produit']

In [94]:
#Sentences are encoded by calling model.encode()
vector1 = []
for i in doc1:
  vector1.append(model.encode(i))

In [97]:
vector2 = []
for i in doc2:
  vector2.append(model.encode(i))

In [98]:
from scipy import spatial

In [104]:
for i in vector1:
  for word in vector2:
    print(1-spatial.distance.cosine(i, word))

0.5518336892127991
0.7072204947471619
0.25986459851264954
0.16073334217071533
0.21548403799533844
0.6826202869415283
0.21297219395637512
0.16637268662452698
0.1410192996263504
0.15818069875240326
0.32987120747566223
0.7505401968955994
0.2817416787147522
0.30751150846481323
0.9472594261169434
0.4391409754753113